/* TODO: Fix style */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 50vw;
    height: 100vh;
    /* background: linear-gradient(90deg, white, blue, blue, blue, white); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    width: 200px;
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
}

.calculator__display {
    background-color: white;
    margin-bottom: 6px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3px;
}

.calculator__keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}

.calculator__keys.equal {
    grid-area: 2 / 4 / 6 / 5;
}